<header id="header">
  <h1 id="logo">
  	<a ng-click="toPage('')" href="#/"><img src="images/ajm.svg" width="30px">Adrian J. Miller {% raw %} {{ currentPage | capitalize }} {% endraw %}</a>
  </h1>
  <nav id="social-navigation">
  	<ul>
  		<li><a href="http://twitter.com/{{ site.twitter }}"><i class="ion-social-github"></i> Twitter</a></li>
  		<li><a href="http://github.com/{{ site.github }}"><i class="ion-social-twitter"></i> Github</a></li>
  		<li><a href="http://github.com/{{ site.linkedin }}"><i class="ion-social-linkedin"></i> LinkedIn</a></li>
  	</ul>
  </nav>
</header>
