---
---

<div id="modal-screen"></div>
<div id="modal" class="post">
  <button ng-click="closeModal()" class="close"><i class="ion-ios7-close-empty"></i></button>
  <article class="post-description">
  	<h1 class="post-title heading-large">{{ page.title }}</h1>
  	{{ content }}
  </article>
  <article class="post-content">
  	<ul>
  	{% for module in page.details.modules %}
  		{% if module.src %}
    		<li><img src="{{ module.src }}" /></li>
    	{% endif %}
    {% endfor %}
  	</ul>
  </article>
</div>
